Repository ylab-hi/ScanExitronLR: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, reorder-python-imports

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

shorten long text
  setup.py
  src/annotate.py
Due: reorder-python-imports

Update README.md
  README.md
Due: none

change pre-commit-config
  .pre-commit-config.yaml
Due: check-yaml

fixed whitespace issue
  .pre-commit-config.yaml
  setup.py
  src/__init__.py
  src/__main__.py
  src/annotate.py
  src/extract.py
  test_data/a549_example.exitron
  test_data/ara_example_2.exitron.annotated
Due: check-yaml, reorder-python-imports

now infers chromosomes from GTF file
  setup.py
  src/__init__.py
  src/__main__.py
  src/annotate.py
  src/extract.py
Due: reorder-python-imports

fixed rare bugs in annotation script
  setup.py
  src/__main__.py
  src/annotate.py
  src/extract.py
  test_data/a549_example.exitron.annotated
Due: reorder-python-imports

fixed issues with annotation
  src/__main__.py
  src/annotate.py
  src/extract.py
  test_data/a549_example.exitron.annotated
  test_data/a549_example_dna_exitrons.fa
  test_data/a549_example_prot_exitrons.fa
  test_data/ara_example_1.exitron.annotated
  test_data/ara_example_2.exitron.annotated
Due: reorder-python-imports

add citation
  CITATION.cff
Due: none

add citation to readme
  README.md
Due: none

format readme
  README.md
Due: none

format markdown table
  .pre-commit-config.yaml
  README.md
Due: check-yaml

Update CITATION.cff
  CITATION.cff
Due: none

add issue template and CODE_OF_CONDUCT
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  CODE_OF_CONDUCT.md
Due: check-yaml

change image link and console
  README.md
Due: none

Update README.md
  test_data/README.md
Due: none

fixed X/= id in cigar string
  src/extract.py
Due: reorder-python-imports

Add files via upload
  cluster purity.png
Due: none

Delete cluster purity.png
  cluster purity.png
Due: none

Add files via upload
  cluster_purity_wb.png
Due: none

fix lifelines version
  setup.py
Due: reorder-python-imports

updated version for pypi
  setup.py
Due: reorder-python-imports

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  reorder-python-imports: any of: \.py$
